* {
  border: none;
  border-radius: 0px;
  font-size: 10px;
  font-family: monospace;
  min-height: 0;
}

#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#temperature,
#gamemode,
#network,
#bluetooth,
#privacy {
  background: #1a1a1a;
}

#window {
  padding: 0 3px;
}
#workspaces button {
  padding: 0 0px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #1a1a1a;
}

#pulseaudio {
  color: #fdf6e3;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#disk {
  color: #b58900;
}
#temperature {
  color: #f4bc67;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#temperature,
#gamemode,
#network,
#bluetooth,
#privacy {
  padding: 0 3px;
}
