! Font

URxvt.font: xft:monospace:size=8

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.iso14755:	false
URxvt.geometry: 80x-1

Xft.hinting: true
Xft.autohint: false
Xft.hintstyle: hintfull

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Opts

Xcursor.theme: Adwaita
Xcursor.size:  0

URxvt.depth: 32
URxvt*cursorBlink:                    true

URxvt*urgentOnBell:                   false
URxvt*visualBell:                     false
URxvt*mapAlert:                       false

! Scroll

! Scroll when output come but not when you go back in to the buffer.
! Scroll back to the end on key press
! (on program stop running and prompt is back it go back to the end too).
URxvt*scrollTtyOutput:                true
URxvt*scrollWithBuffer:               true
URxvt*scrollTtyKeypress:              true

URxvt*saveLines:                      2000
URxvt*mouseWheelScrollPage:           false

URxvt*scrollBar:                      true
URxvt*scrollstyle:                    plain
URxvt*scrollBar_right:                true
URxvt*scrollColor:                    #7DAEA3

! Keybindings for 1-line scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! Color Scheme

! DEFAULTS.
*.background:   #282828
*.foreground:   #ebdbb2

! black
*.color0:       #3c3836
*.color8:       #504945

! red
*.color1:       #cc241d
*.color9:       #fb4934

! green
*.color2:       #98971a
*.color10:      #b8bb26

! yellow
*.color3:       #d79921
*.color11:      #fabd2f

! blue
*.color4:       #458588
*.color12:      #83a598

! magenta
*.color5:       #b16286
*.color13:      #d3869b

! cyan
*.color6:       #689d6a
*.color14:      #8ec07c

! white
*.color7:       #ebdbb2
*.color15:      #fbf1c7
