* {
  border: none;
  border-radius: 0px;
  font-size: 11px;
  font-family: Noto Sans;
  min-height: 0;
}

#waybar {
  background: #3b3735;
  color: #ebdbb2;
}
#window {
  padding: 0 3px;
  color: #707880
}
#tags button {
  min-width: 12px;
  padding: 0px;
  color: #707880;
}
#tags button.focused {
  color: #ebdbb2;
  border-bottom: 2px solid #d79921;
}
#tags button.occupied {
  color: #ebdbb2;
}
#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #1a1a1a;
    padding: 0 0px;
}
#network.disconnected {
    color: #cc241d
}

#pulseaudio.muted {
    color: #707880;
}

#battery {
  color: #98971a;
}
#temperature {
  color: #d79921;
}
#temperature.critical {
  color: #cc241d;
}

#clock,
#pulseaudio,
#battery,
#tray,
#temperature,
#network,
#backlight {
  padding: 0 3px;
}
