* {
  border: none;
  border-radius: 0px;
  font-size: 11px;
  font-family: Noto Sans;
  min-height: 0;
}

#waybar {
  background: #1a1a1a;
  color: #ebdbb2;
}

#workspaces {
  background: #282828;
}

#window {
  padding: 0 3px;
}
#workspaces button {
  padding: 0 0px;
  color: #ebdbb2;
}
#workspaces button.focused {
  color: #3c3836;
}

#battery {
  color: #98971a;
}
#temperature {
  color: #d79921;
}

#clock,
#pulseaudio,
#battery,
#tray,
#temperature,
#gamemode,
#network,
#bluetooth {
  padding: 0 3px;
}
